<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script src="../vue第三天/vuex.js"></script>
    <style>
        .red{
            background: red;
        }
        .green{
            background: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <p>姓名：<input type="text" v-model="arr2.name"></p>
        <p>年龄：<input type="text" v-model="arr2.age"></p>
        <p>
            性别：
            <select name="" id="" v-model="arr2.sex">
                <option>男</option>
                <option>女</option>
            </select>
            <button @click="remo">清空</button>
            <button @click="add">添加</button>
        </p>
        <table style="text-align: center" border="1" width="250px" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in arr" :class="index%2==0?'red':'green'">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.sex}}</td>
                <td><button @click="remove(index)">删除</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
<script>

    var store=new Vuex.Store({
        state:{
            arr:[
                {name:'张三',age:'12',sex:'男'},
                {name:'李四',age:'15',sex:'女'},
                {name:'王五',age:'18',sex:'男'}
            ],
            arr2:{
                name:'',
                age:'',
                sex:''
            }
        },
        mutations:{
            change(state,data){
                state.arr.push(data);
                state.arr2={
                    name:'',
                    age:'',
                    sex:''
                }
            }
        }
    })

    new Vue({
        el:'#app',
        store,
        computed:{
            arr(){
                return this.$store.state.arr
            },
            arr2(){
                return this.$store.state.arr2
            }
        },
        // data:{
        //     arr:[
        //         {name:'张三',age:'12',sex:'男'},
        //         {name:'李四',age:'15',sex:'女'},
        //         {name:'王五',age:'18',sex:'男'}
        //     ],
        //     arr2:{
        //         name:'',
        //         age:'',
        //         sex:''
        //     }
        // },
        methods:{
            add(){
                this.$store.commit('change',this.arr2)
            },
            remo(){

            },
            remove(index){
                this.arr1.splice(index,1)
            }
        }
    })
</script>
</html>